.blog-post {
    border: 3px solid #3B71CA;
    /* padding: 1%; */
    margin: 1%;
    position: relative;
}

.comment-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.postBody {
    padding: 1%;
    font-size: 23px;
}

.postDate {
    font-size: 40px;
}